{
	admin off
	auto_https off
	ocsp_stapling off
	storage file_system /tmp/caddy/data
	storage_clean_interval 24h
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

:8080 {
	log {
		output stdout
		format console
	}

	root * $CR_CADDY_WORK_DIR
	file_server

	map {http.request.header.X-Forwarded-Proto} {mapped_https} {
		"https" "on"
		default ""
	}

	map {http.request.header.X-Forwarded-Port} {mapped_port} {
		"" 443
		default {http.request.header.X-Forwarded-Port}
	}

	header {
		-Server
		-X-Powered-By
		-Via
	}

	php_fastcgi unix//run/php-fpm.sock {
		dial_timeout 300s
		env HTTPS {mapped_https}
		env SERVER_PORT {mapped_port}
		env HTTP_X_FORWARDED_PORT {mapped_port}
		env HTTP_X_FORWARDED_PROTO {http.request.header.X-Forwarded-Proto}
		header_up X-Real-IP {http.request.header.$CR_CADDY_REAL_IP}
		header_up X-Forwarded-For {http.request.header.$CR_CADDY_REAL_IP}
	}
}
