{
	admin off
	auto_https off
	ocsp_stapling off
	storage file_system /tmp/caddy/data
	storage_clean_interval 24h
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

:8080 {
	log {
		output stdout
		format console
	}

	header {
		-Server
		-X-Powered-By
	}

	@blocked {
		path /admin*
	}
	respond @blocked 404

	reverse_proxy http://$CR_CADDY_PASS_SERVER:$CR_CADDY_PASS_PORT {
		header_up X-Real-IP {http.request.header.$CR_CADDY_REAL_IP}
		header_up X-Forwarded-For {http.request.header.$CR_CADDY_REAL_IP}
	}
}
